<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script>
        var baseUrl = 'http://127.0.0.1:5000/admin/';
        function addGraph(url) {
            var div = document.createElement('div')
            var style = document.createAttribute("style");
            style.value = "width:1000px; height:600px;";
            div.setAttributeNode(style);
            var chart = echarts.init(div);

            $(
                function () {
                    fetchData(chart);
                    setInterval(fetchData, 2000);
                }
            );

            function fetchData() {
                $.ajax({
                    type: "GET",
                    url: baseUrl + url,
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
            document.getElementsByTagName('body')[0].appendChild(div)
        }
    </script>

</head>

<body>
    <script>
        addGraph('bar')
        addGraph('grid')
        addGraph('pie')
    </script>
</body>

</html>
