click @ file:///D:/bld/click_1645238380970/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1644887820294/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1648299710939/work
MarkupSafe @ file:///D:/bld/markupsafe_1647364651083/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1644332431572/work
